<html>
<head>
	<title>Tutorial Version II</title>

	<!-- dependencies -->
	<script type="text/javascript" src="./js/dependencies/node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="./js/dependencies/node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>

	<!-- set engine -->
	<script type="text/javascript" src="./js/dependencies/engine/setEngine.js"></script>
	<script type="text/javascript" src="./js/dependencies/engine/operations.js"></script>
	<script type="text/javascript" src="./js/dependencies/engine/proofEngine.js"></script>
	<!-- app -->
	<script type="text/javascript" src="./js/app.js"></script>
	<!-- controllers -->
	<script type="text/javascript" src="./js/controllers/dataController.js"></script>
	<script type="text/javascript" src="./js/controllers/runeController.js"></script>
	<script type="text/javascript" src="./js/controllers/sigilController.js"></script>
	<script type="text/javascript" src="./js/controllers/stoneController.js"></script>
	<script type="text/javascript" src="./js/controllers/scrollController.js"></script>
	<script type="text/javascript" src="./js/controllers/machineController.js"></script>

	<!-- styles -->
	<link rel="stylesheet" type="text/css" href="./styles/angular-toastr.css">
	<link rel="stylesheet" type="text/css" href="./styles/styles.css">

</head>
<body ng-app = "app">
	<div ng-controller = "dataController as data">
		<div id="topWrap" class="wrap">
			<div id="scroll" ng-controller="scrollController as scroll">
			Scroll of Wisdom
				<div id="runes" ng-controller="runeController as runes">
				
					<div ng-repeat="rune in data.runes track by $index">
						<span ng-bind-html="rune.str | html"></span>
					</div>
				</div> <!-- End of runesController -->
				<div ng-repeat="scroll in data.scroll track by $index"></div>
			</div> <!-- End of scroll -->
		</div> <!-- End of topWrap -->
	
		<div id="bottomWrap" class="wrap">
			<div id="stoneSigilWrap">
				<div id="stones" ng-controller="stoneController as stones">
				Stones of Knowledge
					<div ng-repeat="stone in data.stones track by $index"></div>
				</div> <!-- End of stoneController -->
				<div id="sigils" ng-controller="sigilController as sigils">
				Sigils of Understanding
					<div ng-repeat="sigil in data.sigils track by $index"></div>
				</div> <!-- End of sigilController -->
			</div> <!-- End of stoneSigilWrap -->
			
			<div id="machine" ng-controller="machineController as machine">
			The Machine
				<div id="tabs">
					<div ng-repeat="operation in machine.numberOfOperations" class="machineTab"> {{operation}}</div>
				</div> <!-- End of tabs -->
				<div id="zones">
					<div id="dropZone">
					Drop Here
					</div> <!-- End of dropZone -->
					<div id="activeZone">
					Act here	
					</div> <!-- End of activeZone -->
				</div>
			</div> <!-- End of machine -->
		</div> <!-- End of bottomWrap -->
	</div> <!-- End of dataController-->

</body>
</html>