<html>
<head>
	<title>Tutorial Version II</title>

	<!-- dependencies -->
	<script type="text/javascript" src="./js/dependencies/node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="./js/dependencies/node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>
	<script type="text/javascript" src="./js/dependencies/lodash.min.js"></script>
	<script type="text/javascript" src="./js/dependencies/node_modules/vis/dist/vis.js"></script>

	<!-- set engine -->
	<script type="text/javascript" src="./js/dependencies/engine/setEngine.js"></script>
	<script type="text/javascript" src="./js/dependencies/engine/operations.js"></script>
	<script type="text/javascript" src="./js/dependencies/engine/proofEngine.js"></script>
	<!-- app -->
	<script type="text/javascript" src="./js/app.js"></script>
	<!-- controllers -->
	<script type="text/javascript" src="./js/controllers/dataController.js"></script>
	<script type="text/javascript" src="./js/controllers/runeController.js"></script>
	<script type="text/javascript" src="./js/controllers/stoneController.js"></script>
	<script type="text/javascript" src="./js/controllers/sigilController.js"></script>
	<script type="text/javascript" src="./js/controllers/toolController.js"></script>
	<script type="text/javascript" src="./js/controllers/workspaceController.js"></script>
	<script type="text/javascript" src="./js/controllers/inspectorController.js"></script>
	
	<!-- directives -->
	<script type="text/javascript" src="./js/directives/draggable.js"></script>
	<script type="text/javascript" src="./js/directives/droppable.js"></script>


	<!-- styles -->
	<link rel="stylesheet" type="text/css" href="./styles/angular-toastr.css">
	<link rel="stylesheet" type="text/css" href="./styles/styles2.css">
	<link rel="stylesheet" type="text/css" href="./styles/flashing.css">
	<link rel="stylesheet" type="text/css" href="./styles/stoneSpace.css">
	<link rel="stylesheet" type="text/css" href="./styles/toolbox.css">
	<link rel="stylesheet" type="text/css" href="./styles/sigilSpace.css">
	<link rel="stylesheet" type="text/css" href="./styles/inspector.css">
	<link rel="stylesheet" type="text/css" href="./styles/workspace.css">
	<!-- <link rel="stylesheet" type="text/css" href="./styles/inspectorSpace.css"> -->
	<link rel="stylesheet" type="text/css" href="./js/dependencies/node_modules/vis/dist/vis.css">

</head>
<body ng-app="app">
	<div ng-controller="dataController as data">
		<div id="topWrap">
			<div id="bookWrap">
				<div id="spacesWrap">
					<div id="stonesSpace">
						<img ng-repeat="stone in data.stones" ng-src="./img/{{stone.name}}.png" class="stone" class="tool" custom-draggable index="$index" type="'stone'"></img>
					</div>
					<div id="sigilsSpace" ng-controller="sigilController as sigil">
						<div id="sigilDropZone" custom-droppable drop-allowed="sigil.dropAllowed" on-drop="sigil.drop">
							<div ng-repeat="sigil in data.sigils" class="sigilWrap">
								<p ng-bind-html="sigil.strEquivalents[sigil.eqActiveIndex] | html" class="sigilStr"></p>
								<img  ng-src="./img/{{sigil.type}}.png" class="sigil"custom-draggable index="$index" type="'sigil'">
							</div>
						</div>
					</div>
				</div>
			<div id="workspace" ng-controller="workspaceController as workspace" >
				<div id="workspaceDropZoneWrap">
					<div custom-droppable drop-allowed="workspace.dropAllowed" on-drop="workspace.drop"  id="workspaceActiveToolWrap" >
						<img custom-draggable index="null" type="'selectedTool'" id="workspaceActiveToolImg" ng-src="./img/{{workspace.tool}}.png" ng-if="workspace.tool != null">
					</div>
					<!-- Forge workspace -->
					<div ng-if="workspace.tool ==='forge'">
						<div id="forgeDropZone"  custom-droppable drop-allowed="workspace.dropAllowed" on-drop="workspace.drop" > 
							<img src="./img/sigil.png" custom-draggable type="'forgeSigil'" index="null">
						</div>
					</div>
					<!-- Fuser workspace -->
					<div ng-if="workspace.tool ==='fuser'">
						<div class="fuserDropZoneContainer" custom-draggable index="null" type="'fusedSigil'" >
							<div id="leftFuserDrop" custom-droppable drop-allowed="workspace.isSigil" on-drop="workspace.dropLeftSigil" ng-if="!data.leftSigil"></div>
							<div id="rightFuserDrop" custom-droppable drop-allowed="workspace.isSigil" on-drop="workspace.dropRightSigil" ng-if="!data.rightSigil"></div>
						</div>
						<img ng-if="data.leftSigil!=null && data.rightSigil!=null" src="./img/fuse.png" class="fuserDropZoneContainer" custom-draggable index="null" type="'fusedSigil'" id="fuserDropImg">
							<span id="leftFuserSigil" ng-if="data.leftSigil" ng-bind-html="data.leftSigil.equivalents[data.leftSigil.eqActiveIndex] | html"></span>
							<span id="rightFuserSigil" ng-if="data.rightSigil" ng-bind-html="data.rightSigil.equivalents[data.rightSigil.eqActiveIndex] | html"></span>
					</div>
					<div ng-if="workspace.tool ==='crafter'">Crafter is visible</div>
				</div>
				<div ng-if="workspace.tool ==='forge'" id="forgeStones">
					<img class="forgeStones" ng-repeat="stone in data.selectedStones" ng-src="./img/{{stone.name}}.png">
				</div>
			</div>
			<div id="treeWrap">tree</div>
			</div>
		</div>
		<div id="toolsWrap" ng-controller="toolController as toolbox"> 
			<img ng-repeat="tool in data.tools" class="tool" ng-src="./img/{{tool}}.png"custom-draggable type="'tool'" index="$index">
			<img ng-src="./img/trash.png" class="tool" id="trashCan" custom-droppable drop-allowed="toolbox.trashAllowed" on-drop="toolbox.trashDrop">
		</div>
		<div id="bottomWrap" ng-controller="inspectorController as inspector">
		<!-- Image of Inspected Set -->
		<div ng-if="inspector.targetType==='sigil'" id="inspectedSigilWrap">
			<p ng-bind-html="inspector.target.strEquivalents[inspector.target.eqActiveIndex] | html" id="inspectedSigilStr"></p>
			<img  ng-src="./img/{{inspector.target.type}}.png" class="inspectedSigil"custom-draggable index="$index" type="'sigil'">		
		</div>
			<div id="inspectorWrap" >
				<div id="inspector" custom-droppable drop-allowed="inspector.dropAllowed" on-drop="inspector.drop">
					inspector
					<div id="inspectorContainer" ng-show="inspector.targetType==='sigil'"></div>
				</div>
				<img ng-if="inspector.img!=''" ng-src="{{inspector.img}}" class="inspectedTool balls">
				<div id="inspectorTextLine">
					{{inspector.content}}
					<div ng-show="inspector.targetType==='sigil'">
						<p>Known Resonant Stones</p>
						<img ng-repeat="stone in inspector.resonantStones" ng-src="./img/{{stone.name}}.png" class="inspectorResonantStone">
					</div>
				</div>
				<!-- vis.js configurations -->
				<script type="text/javascript" src="./js/vis/visApi.js"></script>
			</div>
		</div> <!-- End bottomWrap -->
	</div>  <!-- End dataController -->
</body>