#inspector{
	position:inherit;
	height:90%;
	width:100%;
	/*border:2px solid black;*/

}
#inspectorTextLine{
	position:absolute;
	border:1px solid black;
	width:95%;
	border:2px solid black;
	/*float:bottom;*/
	display: inline-block;
	height: 30%;
	bottom: 2%;
	left: 2.5%;
}

.inspectorResonantStone {
	display: inline-block;
	position: relative;
	height: 40%;
	margin-left: 2%;
}

.inspectorResonantSigil {
	width: 10%;
	height: 40%;
}

.inspectorResonantSigilImg {
	display: inline-block;
	position: relative;
	height: 50%;
	margin-left: 5%;
	bottom: 20%;
}
.inspectorResonantSigilStr {
	display: inline;
	position: relative;
	left: 135%;
	top: 11%;
}


#inspectSigil-runes div {
	/*display: inline-block;*/
	position: relative;

}

#inspectSigil-runeText {
	display: inline;
	position: relative;
	height: 45%;
	bottom: 80px;
	left: 30%;
}

#inspectSigil-runeSigilName {
	display: inline;
	position: relative;
}


/*Relevant Runes*/
.inspectorRelevantRune {
	display: inline-block;
	position: relative;
	height: 30%;
	margin-left: 5%;
}
.inspectorRelevantRuneImg {
	display: inline-block;
	position: relative;
	height: 50%;
	bottom: 5%;
}
.inspectorRelevantRuneStr {
	position: absolute;
	display: inline-block;
	/*top: 33%;*/
	left: 35%;
}

#inspectSigil-runes {
	display: inline-block;
	width: 20%;
	position: absolute;
	left: 30%;
	bottom: 3%;	
}
#inspectStone-sigils {
	display: inline-block;
	width: 20%;
	position: absolute;

}

#inspectStone-runes {
	display: inline-block;
	width: 20%;
	position: absolute;
	left: 30%;
}
#inspectorContainer {
	position: absolute;
	display: block;
	width: 80%;
	/*height: 90%;*/
	left: 20%;
	/*top: 20%;*/
}

	#inspectedSigilWrap {
		display: inline-block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 15%;
	}


	.inspectedSigil {
		display: inline-block;
		position: absolute;
		width: 15%;
		left: 7%;
		top: 5%;

	}
	#inspectedSigilStr {
		display: block;
		position: absolute;
		top: 19%;
		left: 14.25%;		
	}

.inspectedTool {
	position: absolute;
	display: block;
	left: 40%;
	height: 45%;
	bottom: 45%;
}

#inscribedSigil {
	display: inline-block;
	position: absolute;
	height: 60%;
	left: 10%;
	bottom: 5%;
}

#engravedStone {
	display: inline-block;
	position: absolute;
	height: 60%;
	left: 40%;
	bottom: 6%
}
#engravedText {
	display: inline-block;
	position: absolute;
	bottom: 37%;
	left: 30%;
}

#inspectRunicKey {
	display: block;
	position: absolute;
	left: 53%;
	bottom: 110%;
	height: 150%;	
	width: 100%;
}

#sigilRequirements {
	display: block;
	position: absolute;
	height: 45%;
	width: 15%;
}

#stoneRequirements {
	display: block;
	position: absolute;
	height: 45%;
	width: 15%;
	top: 50%;
}

#runicKeySigil {
	display: block;
	position: absolute;
	height: 30%;
	top: 15%;
	left: 2%;
}

#runicKeyStone {
	display: block;
	position: absolute;
	height: 30%;
	top: 23%;
	left: 2%;
}