#forgeDropZone{
	position:relative;
	display: inline-block;
	height:70%;
	width:40%;
	left:15%;

	/*border:2px solid green;	*/
}

#forgeDropZone img{
	position:relative;
	height:100%;
	top: 15%;

}
#workspaceActiveToolWrap{
	display:inline;
	float:top;
	position: relative;
	width:20%;
	height:20%;
	float:right;
	border:2px dashed blue;
	/*right:2%;*/
}

#workspaceActiveToolImg{
	width:100%;
	height:100%;
}


/*When Forge is dropped in*/

.forgeStones{
	display:inline-block;
	position:inherit;
	height:100%;
	margin-left:4%;
}

#forgeStones{
	position:relative;
	height:15%;
	bottom:-1px;
}

/* FUSER DROP */

.fuserDropZoneContainer {
	position: absolute;
	background-image: url("../img/fuse.	png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	left: 10%;
	top: 25%;
	width: 80%;
	height: 65%;
	/*background-color: red;*/
	
	/*border: 2px solid red;*/
}

#fuserDropImg{
	z-index:1;
}

#rightFuserDrop {
	position: absolute;
	width: 33%;
	height: 100%;
	left: 67%;
	/*border: 2px solid blue;*/
}

#leftFuserDrop {
	position: absolute;
	width: 33%;
	height: 100%;
	/*border: 2px solid blue;*/
}

#rightFuserSigil {
	position: absolute;
	width: 20%;
	height: 15%;
	left: 69%;
	top:53%;
	/*border: 2px solid green;*/
	font-size: 2.5em;

}

#leftFuserSigil {
	position: absolute;
	width: 20%;
	height: 15%;
	top:53%;
	left:23%;
	/*border: 2px solid green;*/
	font-size: 2.5em;
}

/*Rune Crafter Workspace*/
#runeOutline {
	display: inline-block;
	position: absolute;
	height: 55%;
	width: 35%;
	top: 20%;
	left: 33%;
	border: 2px solid black;
}

#sigilOutline {
	display: inline-block;
	position: absolute;
	height: 20%;
	width: 18%;
	left: 41%;
	top: 37%;
	border: 2px solid black;
}
/*Displayed when crafter is empty*/
#stoneOutline {
	display: inline-block;
	position: absolute;
	height: 4%;
	width: 5%;
	top: 45%;
	left: 48%;
	border: 2px solid black;
}
/*Displayed when crafter is full (stone or sigil)*/
#crafterStone {
	display: inline-block;
	position: absolute;
	height: 8%;
	top: 43.5%;
	left: 49%;

}

#crafterSigil {
	display: inline-block;
	position: absolute;
	height: 25%;
	top: 35%;
	left: 33.6%;
}

#crafterStr {
	display: inline-block;
	position: absolute;
	left: 40%;
	top: 23%;
}

.crafterJustification {
	display: inline-block;
	position: relative;
	height: 15%;
	width: 6%;
	top: 350px;
	left: 33%;
	margin-left: 1%;
}

.justification-img {
	display: inline-block;
	position: absolute;
	height: 100%;
}

#crafterResult {
	display: inline-block;
	position: absolute;
	height: 130%;
	left: 15%;
	top: -15%;
}